.tables__container {
  margin-left: 10rem;
}

.tables__btn {
  width: 9rem;
  height: 8.5rem;
  margin: 0 2.2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 330px) and (orientation: portrait) {
  .tables__container {
    margin: 0;
  }
  .tables__btn {
    width: 6.5rem;
    height: 5rem;
    font-size: 1.8rem;
    margin: 0 1rem;
    margin-bottom: 1.8rem;
  }
}

@media screen and (max-width: 680px) and (min-width: 331px) and (orientation: portrait) {
  .tables__container {
    margin: 0;
  }
  .tables__btn {
    width: 40%;
    height: 8rem;
    font-size: 1.8rem;
    margin: 0 1rem;
    margin-bottom: 1.8rem;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .tables__container {
    margin: 0;
  }
  .tables__btn {
    width: 6rem;
    height: 5.2rem;
    font-size: 1.8rem;
    margin: 0;
    margin-left: 1.5rem;
    margin-bottom: 1.8rem;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .tables__btn {
    width: 6rem;
    height: 5.2rem;
    font-size: 1.8rem;
    margin: 0;
    margin-left: 0.79rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 670px) and (orientation: landscape) {
  .tables__container {
    margin-left: 3rem;
  }
  .tables__btn {
    width: 6rem;
    height: 5.2rem;
    font-size: 1.8rem;
    margin: 0;
    margin-left: 1.1rem;
    margin-bottom: 1rem;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .tables__container {
    margin-left: 3.65rem;
  }
  .tables__btn {
    width: 10rem;
    height: 8rem;
    font-size: 1.8rem;
    margin: 0 1.2rem;
    margin-bottom: 2rem;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .tables__container {
    margin-left: 3.65rem;
  }
  .tables__btn {
    width: 11rem;
    height: 9rem;
    font-size: 1.8rem;
    margin: 0 1.2rem;
    margin-bottom: 2rem;
  }
}
